:root{
    --background--color: rgb(198, 209, 226);
    --base--color: rgb(250, 211, 161);
    --foreground--color: rgb(252,237, 218);
    --shadow--color: rgb(223, 188, 147);
}

*{
    font-family: 'Exo 2', sans-serif;
}

body{
    text-align: center;
}